
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*~
.AppleDouble
.LSOverride
.markdownlint*
ehthumbs.db
desktop.ini
*.pdf
*.aux
*.out
*.toc
*.gz
*.png
*.jpg
!WiSo/WIL/bilder/
!WiSo/WIL/bilder/Produktionsfaktoren.png
